* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

li,
button,
label,
input,
p,
a {
  font-size: 2.5rem;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 10rem;
  font-size: 1.5rem;
}

#logo h1 {
  margin-left: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2 1 10rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d39f),
    to(#38a4d3)
  );
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h3 {
  font-size: 6rem;
  padding-top: 2rem;
}

.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 5rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

.active {
  background: #2c2c2c;
  color: white;
  border-radius: 2rem;
  padding: 1rem 3rem;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.skills {
  min-height: 90vh;
}

footer {
  min-height: 10vh;
  padding: 0% 5%;
  background: #154353;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
  list-style: none;
}

footer h4 {
  flex: 1 1 40rem;
  font-size: 2rem;
}

.intro-animation {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(112, 112, 124);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-animation-text {
  color: rgb(223, 223, 223);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

svg {
  z-index: 5;
}

#left-plant {
  animation: plant 2s ease infinite alternate;
  transform-origin: bottom;
}

#right-plant {
  animation: plant 2.5s ease infinite alternate;
  transform-origin: bottom;
}

#man {
  animation: man 2s ease infinite alternate;
  transform-origin: bottom;
}

#carre1 {
  animation: carre 3s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}
#carre2 {
  animation: carre-reverse 3s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}
#carre3 {
  animation: carre 3s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes plant {
  from {
    transform: rotateZ(-3deg);
  }
  to {
    transform: rotateZ(3deg);
  }
}

@keyframes man {
  from {
    transform: rotateZ(-1.5deg);
  }
  to {
    transform: rotateZ(1.5deg);
  }
}

@keyframes carre {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes carre-reverse {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

.projects {
  width: 90%;
  margin: auto;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
}

.projects h2 {
  margin: 5rem;
}

.travelly,
.elena-joy {
  flex: 1 1 40rem;
}

.form-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}

.form-section form {
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}

.form-section form input,
.form-section form textarea {
  margin: 2rem;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.form-section form button {
  width: 100%;
  padding: 2rem;
  background: #154353;
  color: white;
}

.form-section form button:focus {
  background: #33696b;
}
