* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
}

li,
button,
label,
input,
p,
a {
  font-size: 2.5rem;
}

.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}

nav {
  display: flex;
  min-height: 10vh;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 10rem;
  font-size: 1.5rem;
}

#logo h1 {
  margin-left: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 2 1 10rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d39f),
    to(#38a4d3)
  );
  background: linear-gradient(left, #38d39f, #38a4d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro h3 {
  font-size: 6rem;
  padding-top: 2rem;
}

.intro p {
  padding-top: 2rem;
  color: #2c2c2c;
}

.intro-social {
  margin-top: 4rem;
}

.intro-social a {
  margin-right: 5rem;
}

.intro-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

#skill-link {
  width: 4rem;
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#arrow {
  animation: arrow 1s ease-in-out infinite alternate;
}
/* #arrow-white {
  animation: arrow 1s ease-in-out infinite alternate;
  fill: white;
} */

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(138deg)
    brightness(103%) contrast(102%);
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

.active {
  background: #2c2c2c;
  color: white;
  border-radius: 2rem;
  padding: 1rem 3rem;
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.skills {
  min-height: 90vh;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.skill-title {
  margin-top: 2rem;
}

.skill-title p {
  font-size: 6rem;
}

.skills-board {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-first {
  margin-top: 5rem;
  width: 100%;
  display: flex;
}
.skills-second {
  margin-top: 10rem;
  width: 100%;
  display: flex;
}
.skills-third {
  margin-top: 10rem;
  width: 100%;
  display: flex;
}

.skill {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#skill-img-left {
  margin-left: 5rem;
  position: relative;
  cursor: pointer;
}

#skill-img-right {
  margin-right: 5rem;
  position: relative;
  cursor: pointer;
}
/* #cplus {
  margin-left: 5rem;
  width: 15%;
  position: relative;
  cursor: pointer;
} */

.cplus-detail {
  margin-left: 2rem;
  max-height: 10rem;
  position: relative;
  opacity: 0;
  width: 0%;
  background-color: #709cd7;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.cplus-detail p {
  position: absolute;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

/* #matlab {
  margin-right: 5rem;
  width: 15%;
  position: relative;
  cursor: pointer;
} */

.matlab-detail {
  margin-right: 2rem;
  max-height: 10rem;
  position: relative;
  opacity: 0;
  width: 0%;
  /* min-width: 20rem; */
  background-color: #de9350;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.matlab-detail p {
  position: absolute;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.maya-detail {
  margin-left: 2rem;
  max-height: 10rem;
  position: relative;
  opacity: 0;
  width: 0%;
  background-color: #89c6c1;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.maya-detail p {
  position: absolute;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.opengl-detail {
  margin-right: 2rem;
  max-height: 10rem;
  position: relative;
  opacity: 0;
  width: 0%;
  /* min-width: 20rem; */
  background-color: #71a0c2;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.opengl-detail p {
  position: absolute;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.ps-detail {
  margin-left: 2rem;
  max-height: 10rem;
  position: relative;
  opacity: 0;
  width: 0%;
  background-color: #8bc3fc;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.ps-detail p {
  position: absolute;
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

.unity-detail {
  margin-right: 2rem;
  max-height: 10rem;
  position: relative;
  opacity: 0;
  width: 0%;
  background-color: black;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}

.unity-detail p {
  position: absolute;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.activation {
  animation: skill-left 1s ease-in-out;
  animation-fill-mode: forwards;
}

.desactivation {
  animation: skill-right 1s ease-in-out;
  animation-fill-mode: forwards;
}

/* #matlab {
  width: 22%;
}
#maya {
  width: 25%;
}
#opengl {
  width: 30%;
}
#photoshop {
  width: 20%;
}
#unity {
  width: 30%;
} */

footer {
  min-height: 10vh;
  padding: 0% 5%;
  background: #154353;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 40rem;
  list-style: none;
}

footer h4 {
  flex: 1 1 40rem;
  font-size: 2rem;
}

.intro-animation {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(112, 112, 124);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-animation-text {
  color: rgb(223, 223, 223);
  font-family: "Heebo", sans-serif;
  font-size: 3rem;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

svg {
  z-index: 5;
}

#left-plant {
  animation: plant 2s ease infinite alternate;
  transform-origin: bottom;
}

#right-plant {
  animation: plant 2.5s ease infinite alternate;
  transform-origin: bottom;
}

#man {
  animation: man 2s ease infinite alternate;
  transform-origin: bottom;
}

#carre1 {
  animation: carre 3s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}
#carre2 {
  animation: carre-reverse 3s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}
#carre3 {
  animation: carre 3s infinite linear;
  transform-box: fill-box;
  transform-origin: center;
}

@keyframes plant {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(6deg);
  }
}

@keyframes man {
  from {
    transform: rotateZ(-1.5deg);
  }
  to {
    transform: rotateZ(1.5deg);
  }
}

@keyframes carre {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes carre-reverse {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes arrow {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-30px);
  }
}

@keyframes skill-left {
  from {
    /* transform: translateX(0); */
    width: 0rem;
    opacity: 0;
  }
  to {
    /* transform: translateX(-10rem); */
    width: 35rem;
    opacity: 1;
  }
}

@keyframes skill-right {
  from {
    /* transform: translateX(0); */
    width: 35rem;
    opacity: 1;
  }
  to {
    /* transform: translateX(-10rem); */
    width: 0rem;
    opacity: 0;
  }
}

/* PROJECT PART */

#project-main-head {
  width: 100%;
}

#sticky-nav {
  z-index: 100;
  position: fixed;
  top: 0;

  background-color: white;
  width: 100%;
  min-height: 10vh;
}

.sticky-logo {
  margin-left: 5rem;
}

.projects {
  margin-top: 10vh;
  width: 100%;
  min-height: 360vh;
  display: flex;
  flex-direction: column;
}

.project {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.information {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: black;
}

.information h2 {
  color: white;
  font-size: 7rem;
  margin: 0rem 5rem;
}

#h2_2 {
  font-size: 6rem;
}

.information h3 {
  color: white;
  font-size: 2rem;
  margin-top: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.information h4 {
  color: white;
  font-size: 2rem;
  margin-top: 3rem;
}

.compare {
  margin-top: 5rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compare p {
  color: white;
  font-size: 8rem;
  margin: 0rem 2rem;
}

.compare img {
  border-radius: 1rem;
  width: 40%;
}

.demo {
  flex: 1 1 50%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-comp-container {
  right: 30rem;
  position: relative;
  height: 400px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 1rem;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 20px;
  height: 20px;
  background-color: white;
  opacity: 1;
  border-radius: 50%;
}

.exemple {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exemple img {
  width: 90%;
  border-radius: 1rem;
}

.tracing_gif {
  border-radius: 20rem;
}

.video-mask-1 {
  margin-top: 4rem;
  border-radius: 1rem;
  overflow: hidden;
  width: 456px;
  height: 37rem;
}
.video-mask-2 {
  border-radius: 1rem;
  overflow: hidden;
  width: 60rem;
  height: 65rem;
}

#big-mesh {
  width: 60rem;
  height: 60rem;
}
#little-mesh {
  width: 45rem;
  height: 15rem;
}

/* FORM PART */

.form-section {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3rem;
}

.form-section form {
  padding: 3rem 10rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
}

.form-section form input,
.form-section form textarea {
  margin: 2rem;
}

.form-section form input:focus,
.form-section form textarea:focus {
  outline: 2px solid black;
}

.form-section form textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.form-section form button {
  width: 100%;
  padding: 2rem;
  background: #154353;
  color: white;
}

.form-section form button:focus {
  background: #33696b;
}

@media screen and (max-width: 1470px) {
  html {
    font-size: 45%;
  }
  .splash {
    display: none;
  }
  svg {
    width: 80%;
  }
  nav {
    width: 100%;
  }

  .img-comp-container {
    margin-top: 2rem;
  }

  #project_2 {
    flex-wrap: wrap-reverse;
  }

  .tracing_gif {
    width: 58rem;
  }
}

@media screen and (max-width: 754px) {
  html {
    font-size: 40%;
  }
  svg {
    height: 60%;
  }
  main-head {
    width: 100%;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 100rem;
    margin-top: 2rem;
    width: 100%;
  }

  #logo h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 180%;
  }
  nav ul {
    flex: 1 1 60rem;
    margin: 2rem 0rem;
  }
  .intro-text {
    margin-top: 5rem;
    text-align: center;
  }
  .intro-social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .intro-social a {
    margin: 2rem;
  }
  .intro-images {
    text-align: center;
  }

  .skill img {
    width: 17%;
  }

  .intro-slide {
    margin-top: 3rem;
  }

  .skills {
    min-height: 75vh;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .skills-first {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-second {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-third {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill {
    width: 100%;
    margin-top: 5rem;
  }

  .skills-third {
    margin-bottom: 8rem;
  }

  .intro-animation {
    text-align: center;
  }

  .intro-animation-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 3rem;
  }

  .projects h2 {
    margin-top: 15rem;
  }

  .information {
    text-align: center;
  }

  .tracing_gif {
    margin-top: 5rem;
  }

  .video-mask-1 {
    width: 250px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  #aliage {
    position: absolute;

    width: 260px;
  }
  .video-mask-2 {
    width: 400px;
    height: 280px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  #char {
    position: absolute;

    width: 450px;
  }

  #project_4 {
    flex-wrap: wrap-reverse;
  }

  #big-mesh {
    margin: 5rem 0rem;
  }

  .img-comp-container {
    right: 25rem;
    position: relative;
    height: 200px; /*should be the same height as the images*/
  }

  .img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
    border-radius: 1rem;
  }

  .img-comp-img img {
    width: auto;

    height: 200px;
    display: block;
    vertical-align: middle;
  }

  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 20px;
    height: 20px;

    background-color: white;
    opacity: 1;
    border-radius: 50%;
  }
}
